/************************************************************************
* CSS - Vulpe Framework													*
************************************************************************/
/* Classes */
.vulpeActions {
	width: 100%;
	text-align: right;
}

.vulpeActions p{
	margin: 3px 24px;	
}

.vulpeAlertError {
	color: red;
}

.vulpeAlertMessage {

}

.vulpeButton {
	background: url("../images/background-button.png") repeat-x scroll 0 0 #e7e7e7;
	border: 1px #CCCCCC solid;
	cursor: pointer;
	width: auto;
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFFFFF;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.vulpeSubmit, .vulpeSubmitOff {
	background: url("../images/background-button.png") repeat-x scroll 0 0 #e7e7e7;
	border: 1px #CCCCCC solid;
	cursor: pointer;
	width: auto;
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 0 #FFFFFF;
	padding: 1px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.vulpeButton img, .vulpeSubmit img, .vulpeSubmitOff img {
	vertical-align: middle;	
}

.vulpeBlockLabel {
	display: block;
	width: auto;
	float: left;
	text-shadow: 1px 1px 0 #eee;
}

.vulpeBlockshort {
	display: block;
	width: 90px;
	float: left;
}

.vulpeDrag {
	cursor: move;
}

.vulpeEntities {
	border: 1px solid #eee;
	margin-bottom: 0px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.vulpeMessageError {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/icons/message-error.png');
}

.vulpeFieldError {
	background-color: #ffccbc;
}

.vulpeImageErrorMessage {
	border: 0;
	cursor: pointer;
	display: none;
	position: relative;
	top: 3px;
}

.vulpeImageFieldLoading {
	border: 0;
	cursor: pointer;
	display: none;
	position: relative;
	top: 3px;
}

.vulpeImagePopupButton {
	cursor: pointer;
	position: relative;
	top: 3px;
}

.vulpeMessageInfo,.vulpeMessageSuccess,.vulpeMessageWarning,.vulpeMessageError,.vulpeMessageValidation {
	border: none;
	margin: 0px 0px 1px 0px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 10px 0px 5px 0px;
}

.vulpeMessageInfo {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/icons/message-info.png');
}

.vulpeItemOff {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.vulpeLineOff {
	background: #fff;
}

.vulpeLineOn {
	background: #ffe;
}

.vulpeMessages {
	background-color: none;
	border: none;
}

.vulpeMessages h1 {
	width: auto;
	margin-top: 0px;
	cursor: move;
}

.vulpeNoBorder {
	border: none;
}

.vulpeNob {
	font-weight: normal
}

.vulpeOrderAsc {
	background: url(../images/icons/order-asc.gif) right;
	background-color: #eee;
	background-repeat: no-repeat;
}

.vulpeOrderDesc {
	background: url(../images/icons/order-desc.gif) right;
	background-color: #eee;
	background-repeat: no-repeat;
}

.vulpeSimpleLabel {
	font-weight: normal;
}

.vulpeMessageSuccess {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/icons/message-success.png');
}

.vulpePaging {
	width: auto;
	margin: 5px auto;
	text-align: center;
}

.vulpePaging a {
	text-decoration: none;
}

.vulpeSelectedRow {
	background-color: #ffccbc;
	cursor: pointer;
}

.submit {
	background: url(../images/background-button.png) repeat-x;
	border: 1px #CCCCCC solid;
	font-weight: 700;
	height: 20px;
	padding: 0px;
	width: 90px;
	cursor: pointer;
}

.tooltip {
	display: none;
	background: url(../images/tooltip/black-arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;
	border: 0px;
}

#content {
	width: auto;
}

#content #title {
	background: url("../images/background-all.png") repeat-x scroll 0 0 #e7e7e7;
	color: #333;
	font-family: tahoma, arial, hevetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	height: 20px;
	padding: 3px 20px 10px 20px;
	border-bottom: 1px solid #eee;
	text-shadow: 1px 1px 0 #fff;
}

#userAuthenticated {
	text-align: right;
}

.vulpeMessageValidation {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('../images/icons/message-validation.png');
}

.vulpeMessageWarning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/icons/message-warning.png');
}

/* ID Elements */
#body {
	background-color: #fff;
	width: 100%;
	text-align: left;
}

#body table {
	margin-left: 20px;
	width: 96.6%;
}

#body td,th {
	padding: 5px;
}

#container {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

#copyright {

}

#copyright a {
	text-decoration: none;
}

#copyright a:hover {
	color: #999;
	text-decoration: none;
}

#error {
	background-color: #fff;
	height: 100%;
}

#error #message {
	padding: 3px 20px 20px;
	color: #000;
}

#error a {
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 3px;
}

#error h1 {
	color: #fff;
	background-color: #d00;
	display: block;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#error h2 {
	display: block;
	height: auto;
	margin: 0px;
	padding-left: 20px;
	padding-top: 3px;
}

#errors {
	width: 400px;
	margin: 0 auto
}

#footer {
	background: none;
	border-top: 1px solid #eee;
	display: block;
	font-size: 10px;
	height: 20px;
	margin: 9px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
	width: auto;
}

#header {
	background: url("../images/header-background.png") repeat-x;
	width: 100%;
	height: 99px;
}

#header .image {
	background: url("../images/header.png") no-repeat;
	height: 99px;
	vertical-align: top;
	width: 800px;
}

/*
#loading {
	background: url(../images/frontend/ajax/loader.gif) center no-repeat;
	cursor: wait;
}
*/

#loading {
	margin: 0 auto;
	position: absolute;
	height: 100%;
	width: 100%;  
}

#loadingBox {
	margin: 0 auto;
	position: relative;
	width: 100px;
}

#loadingBoxContent {
	background-color: #ccc;
	margin: 0 auto;
	cursor: wait;
	position: absolute;
	color: #fff;
	height: 20px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	-moz-border-radius: 0px 0px 7px 7px;
	-webkit-border-radius: 0px 0px 7px 7px; 
}

#menu {
	background-color: #999;
	height: 28px;
	width: auto;
}

#paging {

}

#paging a {
	text-decoration: underline;
}

#paging a:hover {
	text-decoration: underline;
}

#paging .currentPage {
	font-weight: bold;
}

#vulpeButtonPagingFirstPage {
}

#vulpeButtonPagingPreviousPage {
}

#vulpeButtonPagingNextPage {
}

#vulpeButtonPagingLastPage {
}

#poweredby {
	font-size: 9px;
}

#poweredby a {
	text-decoration: none;
}

#poweredby a:hover {
	color: #999;
	text-decoration: none;
}

#search {
	float: right;
	height: 24px;
	margin-top: 66px;
	text-align: right;
	width: 39px;
	cursor: pointer;
	font-size: 11px;
}

/* DOM Objects */
* {
	margin: 0;
	padding: 0;
}

a,a:visited {
	color: #000;
}

a:hover {
	text-decoration: none
}

body {
	color: #000;
	font: 11px arial, sans-serif;
}

body,html {
	background-color: #fff;
	margin: 0;
	padding: 0;
	height: 100%;
}

fieldset {
	margin-left: 28px;
	border: 1px solid #e1e4d7;
	padding-bottom: 10px;
}

h1 {
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
}

h2 {
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
	padding-top: 3px;
}

input,select,textarea {
	border: 1px solid #eee;
	font-size: 11px;
	padding: 4px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.textTranslate {
	border: 1px solid #eee;
	font-size: 11px;
	padding: 4px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}

label {
	font-weight: bold
}

legend {
	font-weight: bold;
}

ol,ul {
	font-size: 11px;
	margin: 10px 60px;
}

p {
	font-size: 11px;
	margin: 10px 28px;
}

tbody tr {
	margin: 0px;
	padding: 0px;
}

td {
	color: #000;
}

td p {
	margin: 0;
	line-height: 1.7em;
	margin-bottom: 5px;
}

.vulpeTableHeader {
	background: url("../images/background-all.png") repeat-x scroll 0 0 #e7e7e7;
	font-weight: bold;
	font-size: 16px;
	height: 30px;
	text-shadow: 1px 1px 0 #ccc;
}

.vulpeRowHeader {
	font-weight: bold;
	vertical-align: top;
	background-color: #eee;
	height: 30px;
	text-shadow: 1px 1px 0 #ccc;
}

.vulpeTableFooter {
	background-color: #eee;
	height: 30px;
	text-shadow: 1px 1px 0 #ccc;
}

thead th {
	font-weight: bold;
}

#messages #closeMessages {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 0px;
	font-size: 9px;
}

#vulpeSelectAll {
	width: 40px;
}

#vulpeSelectForm, #vulpeMainBody {
	border: 1px solid #eee;
	margin: 0 24px 3px 20px;
	padding: 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

#vulpeSelectForm p, #vulpeMainBody p {
	margin: 0;
}